* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background: var(--gray-white);
}

:root {
    --gray-white: #F5F5F5;
    --black: #000;
    --gray: #F0F0F0;
    --white: #fff;
    --inter: 'Inter', sans-serif;
    --space-grotesk: 'Space Grotesk', sans-serif;
}

header {
    height: 55px;
    background: var(--black);
    margin-bottom: 20px;
    color: var(--white);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    

    padding: 0 20px;
}

main {
    padding: 0px 20px;
}

.welcome {
    margin-top: -20px;
}

.wel {
    display: flex;
    height: 50vh;
    flex-direction: column;
    text-align: left;

    background: var(--gray);
    margin: 20px 0;
    border-radius: 20px;
}

.welcome{
    display: flex;
    column-gap: 20px;
}

/*Primer tarjeta de bienvenida*/

.wel-1 {
    width: 40%;
    padding: 20px 25px;

    background-image: url('../assets/images/Presentation.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wel-1 h2 {
    font-size: 2.4rem;
    line-height: 30px;
    letter-spacing: -0.388px;
    
    font-family: var(--inter);
    font-style: normal;
    font-weight: normal;

    color: var(--white);
    
}

/*Segnuda tarjeta de Conocimientos*/

.wel-2 {
    width: 60%;
    padding: 20px 25px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.wel-2 h3 {
    font-size: 2.4rem;
    line-height: 30px;
    letter-spacing: -0.388px;
    
    font-family: var(--inter);
    font-style: normal;
    font-weight: normal;
    
}

.wel-2 .descubrir {
    padding: 13px 20px;

    background: var(--black);
    color: var(--white);
    border: none;
    border-radius: 2000px;

    font-family: var(--inter);
    font-weight: 500;
    font-style: normal;

    cursor: pointer;

    display: flex;
    align-items: center;

    font-size: 1.6rem;
}

.title-proyect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    padding: 0 20px;

    margin: 0 -20px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color:var(--gray) ;

    margin-bottom: 20px;
    
}

.title-proyect h3 {
    font-size: 3.8rem;
    font-family: var(--space-grotesk);
}

.title-proyect button {
    padding: 13px 20px;

    background: var(--black);
    color: var(--white);
    border: none;

    border-radius: 1000px;

    font-family: var(--inter);
    font-weight: 500;
    font-style: normal;

    cursor: pointer;
    
    display: flex;
    align-items: center;

    font-size: 1.6rem;
}

.projects {
    display: flex;
    justify-content: space-between;

    gap: 20px;
}

.projects .pj {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--gray);
    width: 50%;

    height: 50vh;
    padding: 15px;
    border-radius: 20px;

    margin-bottom: 20px;
}


.projects .pj .tittle {
    
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 18px;

    align-items: center;

    font-family: var(--space-grotesk);
}

.projects .pj .tittle h3{
    font-size: 2.2rem;
    color: var(--white);
}

.projects .pj .tittle button{
    border-radius: 1000px;
    border: none;

    padding: 15px;

    width: 48px;
    height: 48px;
    background: var(--white);

    cursor: pointer;
}


.projects .pj .tags {
    display: flex;
    gap: 10px;
}

.projects .pj .tags p {
    padding: 6.5px 10px;
    background: wheat;
    border-radius: 10px;

    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    font-family: var(--inter);
    font-weight: bold;
    font-style: normal;

    color: var(--white);
    font-size: 1.3rem;
}

/*Iconos*/

.more {
    display: inline-block;
    background-image: url('../assets/images/arrow.svg');
    width: 20px;
    height: 20px;
}

.more_white {
    margin-left: 5px;
    background-image: url('../assets/images/arrow_white.svg');
    width: 20px;
    height: 20px;
}

header .social{
    display: flex;
    flex-direction: row;
    gap: 25px;

    align-items: center;
}

header .ico {
    background-image: url('../assets/images/icon.svg');
    width: 26px;
    height: 26px;

    cursor: pointer;
}

header .social .twitter {
    
    background-image: url('../assets/images/Twitter.svg');

    width: 20px;
    height: 20px;

    cursor: pointer;
    
}

header .social .linkedin {
    
    background-image: url('../assets/images/linkedin.svg');

    width: 20px;
    height: 20px;

    cursor: pointer;
    
}

header .social .medium {
    
    background-image: url('../assets/images/medium.svg');

    width: 20px;
    height: 20px;

    cursor: pointer;
    
}

/*Proyectos*/

.projects .p1 {
    background-image: url('../assets/images/pj1.jpg');
}

.projects .p2 {
    background-image: url('../assets/images/pj2.jpg');
}